@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    font-size: 1rem;
    --dark-yellow-color : #FB8500;
    --pale-yellow-color : #FFB703;
    --dark-blue-color : #023047;
    --pale-blue-color : #8ECAE6;
}

body{
    color: white;
    font-family: 'Lato', sans-serif;
    background-color: var(--dark-blue-color);
    
}

h1 {
    color: var(--pale-yellow-color);
    text-align: center;
    text-decoration: underline;
    margin-top: 2em;
}