/***DESKTOP VERSION***/

.project {
    margin: 4em;
    display: flex;
    align-items: center;
}
.photo-project {
    width: 100%;
    height: auto;
}
.project-content {
    padding-left: 4em;
  
}
h2 {
    color: var(--pale-blue-color);
    padding-bottom: 1em;
}
.button-techno {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    flex-wrap: wrap;
}
.techno {
    border : 1px solid white;
    padding: 0.5em;
    border-radius: 0.5em;
}
.icone-div {
    margin-top: 1em;
}
.icone {
    width: 5%;
    height: auto;
    margin-right: 2em;
    cursor: pointer;
}

/***MOBILE VERSION***/
  
@media (min-width: 701px) and (max-width: 850px) {

    .project {
        display: block;
        text-align: left;
   
    }
    .project-content {
        margin: 2em 0em 2em 0em;
        padding-left: 0;
    }
    .icone-div {
        margin-top: 2em;
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width:700px) {

    .project {
        margin: 2.5em 1.5em 2.5em 1.5em;
        display : block;
        text-align: left;
    }
    .project-content {
        margin: 2em 0em 2em 0em;
        padding-left: 0;
    }
    .icone-div {
        margin-top: 2em;
        display: flex;
        justify-content: space-around;
    }
    .button-techno {
        display: grid;
    grid-template-columns: repeat(auto-fill,minmax(33%, 1fr));
    }
    .techno {
        margin-right: 10px;
        margin-top: 10px;
        text-align: center;
    }
}